@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #607d8b;
}

.header {
  background-color: #607d8b;
  color: white;
  text-align: center;
  font-size: 68px;
  padding: 15px 0;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  height: 100vh;
}

.form-container {
  width: 50%;
  background-color: #d3d3d3;
  margin-right: 25px;
  border-radius: 10px;
  padding: 35px 35px 35px 35px;
  box-shadow: 5px 5px 4px #8f8d8d;
}

input {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 4px 16px;
  width: 100%;
  min-height: 35px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin: 2px 0;
}

input[type="submit"] {
  cursor: pointer;
  background-color: #50535a;
  color: white;
  text-align: center;
  font-size: 18px;
  height: 40px;
}

.form-container h2 {
  margin: 10px 0 10px 0;
}

.cv-container {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(180deg, rgb(28, 45, 64) 20%, white 0%);
  height: 100%;
  width: 50%;
  margin-left: 25px;
  padding: 35px;
}

.subtitle {
  text-decoration: underline;
  text-decoration-color: rgb(15, 72, 127);
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
  margin-bottom: 20px;
}

.personal-cv {
  font-size: 20px;
  margin-bottom: 40px;
  color: white;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  height: 150px;
}

.education-cv {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}

.work-cv {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}

.skills-cv {
  font-size: 20px;
  padding-left: 20px;
}
